<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229543974217-6on405k679pcpud8qq98o0h39tcem35u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229543974217-6on405k679pcpud8qq98o0h39tcem35u</string>
	<key>API_KEY</key>
	<string>AIzaSyAQflX2T3AOtlnJZwl4Ez3_LBNq7d-m5kc</string>
	<key>GCM_SENDER_ID</key>
	<string>229543974217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rainbow3.Tap-For-Here</string>
	<key>PROJECT_ID</key>
	<string>tap-for-here-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tap-for-here-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229543974217:ios:92376ac4cc984a31</string>
	<key>DATABASE_URL</key>
	<string>https://tap-for-here-project.firebaseio.com</string>
</dict>
</plist>